<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">

    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="/favicon/emergent-reasons.ico?">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon/emergent-reasons.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/favicon/emergent-reasons-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/favicon/emergent-reasons-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/emergent-reasons-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon/emergent-reasons-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/emergent-reasons-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/emergent-reasons-16.png">
    <link rel="apple-touch-icon" href="/favicon/emergent-reasons-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/emergent-reasons-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/emergent-reasons-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/emergent-reasons-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/emergent-reasons-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/emergent-reasons-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/emergent-reasons-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/emergent-reasons-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/emergent-reasons-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon/emergent-reasons-144.png">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <!-- ****** faviconit.com favicons ****** -->

    <script src="https://api.moneybutton.com/moneybutton.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% seo %}
</head>
